DATABASE_URL=postgresql://postgres:password@localhost:5432/mydatabase
FRONTEND_URL=http://localhost:3000
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
PORT=2507